
#contact {
	background-color: #045075;
	padding-bottom: 100px;
	color: #F2F2F2;
}

#contact h2{
	color: #F2F2F2;
}

.links {
	margin: 30px;
}

.links * {
	vertical-align:middle;
}

.links-github img {
	padding: 15px;
}

.links a {
	margin: 3%;
}
