body {
	margin: 0;
	padding: 0;
	line-height: 1.33;
	font-family: sans-serif, Arial;
}

section, header, footer {
	text-align: center;
	padding-bottom: 75px;
}

section .box {
	display: inline-block;
	padding: 0 15px 15px;
	margin: 20px;
	text-align: left;
	vertical-align: middle;
	background-color: #74AECA;
	color: #353535;
	max-width: 500px;
	border-width: 0.5px;
	border-color: #066D9F;
}

section h2 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 3.5em;
	color: #353535;
}

.section-header {
	padding: 45px 0 30px;
}

h1, h2, h3 {
	font-weight: bold;
}

h3 {
	padding: 15px 0 10px;
	text-align: center;
	color: #F2F2F2;
	font-size: 1.55em;
}

h4 {
	font-size: 1.1em;
	text-decoration: underline;
}

ul {
	margin-left: 5px;
}

li p {
	font-size: 0.8em;
	margin: 1px;
}

a {
	text-decoration: underline;
	color: inherit;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

footer {
	background-color: #01324A;
	padding: 45px;
}

footer a {
	font-size: 0.8em;
	color: #F2F2F2;
}

footer img {
	vertical-align: middle;
}
