#projects {
	background-color: #74AECA;
}

#projects .border {
	background-color: #01324A;
	color: #F2F2F2;
}

.project-tag-wrapper {
	margin: 10px 0;
	text-align: center;
}

#projects .project-tag-wrapper li {
	display: inline-block;
	margin: 0 1%;
	vertical-align: middle;
}

.project-tag {
	border: 1px solid #74AECA;
	border-radius: 15%;
	padding: 3px;
}

.deployment-tag {
	font-size: 24px;
}

.highlight-tag {
	background-color: #74AECA;
	color: #353535;
}

.rank {
	color: #353535;
	background-color: gold;
	padding: 2px 8px;
	font-size: 1.3em;
}

#projects .project-tag-wrapper img {
	vertical-align: middle;
}
