#projects {
	background-color: #FFFFFF;
}

#projects .border {
	background-color: #3187B0;
	color: #F2F2F2;
	border: 0.5px solid #045075;
}

.project-tag-wrapper {
	margin: 10px 0;
	text-align: center;
}

#projects .project-tag-wrapper li {
	display: inline-block;
	margin: 0 1%;
	vertical-align: middle;
}

.project-tag {
	border: 1px solid #74AECA;
	border-radius: 0.6em;
	padding: 3px;
}

.deployment-tag {
	font-size: 24px;
}

.highlight-tag {
	background-color: #74AECA;
	color: #353535;
}

.rank {
	color: #353535;
	background-color: gold;
	padding: 0 6px;
	font-size: 1.3em;
	border-radius: 50%;
}

.github-tag img {
	width: 22.5px;
}

#projects .project-tag-wrapper img {
	vertical-align: middle;
}
