body {
	margin: 0;
	padding: 0;
	line-height: 1.33;
	font-family: sans-serif, Arial;
}

section, header, footer {
	text-align: center;
	padding-bottom: 45px;
	color: white;
}

section div {
	display: inline-block;
	padding: 15px;
	margin: 20px;
	text-align: left;
	border-radius: 25px;
	border: 2px solid black;
	vertical-align: middle;
	background-color: #EAEAEA;
	color: #353535;

}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.75em;
	padding: 45px 0 30px;
}

h3 {
	padding-bottom: 10px;
	text-align: center;
	color: #151515;
	font-size: 20px;
}

li {
	padding: 3px;
}

li p {
	font-size: 0.8em;
	margin: 1px;
}

a {
	text-decoration: underline;
	color: inherit;
}

header:before {
	background: #000 url("assets/bg3.png") repeat-x center fixed;
	content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: -1;
}

header {
	color: black;
	padding: 50px 0;
}

header p {
	padding: 3px 3% 3px;
	margin: 3px;
}

.small {
	font-size: 0.6em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitle {
	text-decoration: inherit;
}

.bio {
	background-color: white;
	padding: 45px 10px;
	font-size: 1.15em;
}

#bio {
	color: black;
	padding-bottom: 0;
}

#skills {
	background-color: #9A4545;
}


#skills div {
	width: 30vw;
	margin-left: 3vw;
	margin-right: 3vw;
	padding-right: 3vw;
	padding-left: 3vw;
	min-width: 200px;
}

#projects {
	background-color: #9A8B45;
}

#tools {
	background-color: #377C37;
}

#contact {
	background-color: #41366B;
}

footer {
	padding: 45px;
}

footer a {
	font-size: 0.8em;
	color: black;
}

.project-tag-wrapper {
	margin: 10px;
	text-align: center;
}

.project-tag {
	display: inline-block;
	border: 1px solid #ce3e39;
	border-radius: 15%;
	margin: 0 1%;
}
